<html lang="en" ng-app="musicViz">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
      <meta http-equiv="X-UA-Compatible" content="IE=edge" >

      <title>Web Audio</title>
      <!-- script -->
      <script src="libs/three.min.js" defer></script>
      <script src="libs/angularjs-1.3.14-angular.min.js" defer></script>
      <script src="js/app.js" defer></script>
      <script src="js/controller.js" defer></script>
      <script src="js/soundcloud_service.js" defer></script>
      <script src="js/audio_service.js" defer></script>
      <script src="js/particles.js" defer></script>

      <!-- style -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
      <link href='https://fonts.googleapis.com/css?family=Roboto+Mono' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" type="text/css" href="css/style.css">
      
    </head>
    <body ng-controller="musicVizController as ctrl">

      <nav class="navbar navbar-inverse navbar-fixed-top">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <!-- TODO: replace with SoundCloud logo -->
            <label for="search-soundcloud">Search SoundCloud</label> 
            <input ng-model="ctrl.searchQuery" type="text" class="form-control" id="search-soundcloud" placeholder="Kanye West">
          </div>
        </form>
      </nav>
      <div class="static">
        <ul class="list-group">
          <li ng-class="{'list-group-item':true, 'active':hovering}" 
              ng-mouseenter="hovering=true"
              ng-mouseleave="hovering=false"
              ng-repeat="result in ctrl.searchResults" 
              ng-click="ctrl.selectTrack(result)">{{ result.title }}</li>
        </ul>
      </div>
      

    </body>
</html>